		h1
		{	
			text-align: center;
		}
		
		table 
		{
			margin: 20px auto;
			border-collapse: collapse;
			float: center;
		}

		td 
		{
			border: 1px solid black;
			width: 50px;
			height: 50px;
			text-align: center;
			font-size: 36px;
			cursor: pointer;
		}
		
		.przyciski
		{
			text-align: center;
		}

		#message 
		{
			display: none;
			font-size: 24px;
			font-weight: bold;
			text-align: center;
			margin: 20px;
		}